server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://127.0.0.1:3306/userdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: rootpassword
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # use 'validate' or Flyway/Liquibase for prod
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

jwt:
  secret: ChangeThisToA32ByteMinSecretString_ReplaceInProd
  expiration-ms: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
